<%-include('cabecalho.ejs')%>
    <h1>Bem-vindo ao Site de administradores</h1>
    <h7>Site da Gabrieli</h7>
    <h7>link para o site: </h7> <a href="http://localhost:3001/memora/lst">Memora</a>

 <%-include('rodape.ejs')%>